body{
    /* text-align:left; */
    background-color: lightblue;
}

h3{
    font-size: 20px;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    margin-left: 25%;
    margin-right: 25%;
}

p{
    font-size: 24px;
}
button{
    margin-right: 95%;
    border-color: darkmagenta;
    background-color: darkgoldenrod;
}

.para {
    display: inline;
    /* text-align: center; */
    vertical-align:bottom;
}

img {
    float: left;
}